[build]
  base = "."
  command = "npm install && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  targetPort = 3000
  framework = "vite"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
